{
    "semi": true,
    "singleQuote": false,
    "printWidth": 80,
    "tabWidth": 2,
    "trailingComma": "none",
    "endOfLine": "auto",
    "arrowParens": "avoid",
    "plugins": ["prettier-plugin-tailwindcss"]
  }